.author {
  display: flex;
  padding: 30px;
  background: #fff;
  border-bottom: 1px solid #efefef;
}
.author .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 262px;
  flex-grow: 1;
}
.author .poster {
  width: 180px;
  height: 220px;
  margin-right: 20px;
}
.author .xiaoceTitle {
  font-size: 34px;
  font-weight: 900;
}
.author .desc {
  color: #666;
  font-size: 24px;
}
.author .xiaoceTitle,
.author .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.author .user {
  display: flex;
  align-items: center;
}
.author .avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 20px;
}
.buy {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 30px;
  color: #666;
  font-size: 30px;
  border-bottom: 1px solid #efefef;
  height: 80px;
}
.buy img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.heading {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 34px;
  font-weight: 900;
}
.heading,
.section {
  background: #fff;
  padding: 20px 30px;
}
.section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
}
.section:last-child {
  border-bottom: none;
}
.section .num {
  flex-basis: 60px;
  flex-shrink: 0;
}
.section .title {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}
.section .others {
  color: #666;
  font-size: 24px;
}
.section .action {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 72px;
}
.section .action view {
  color: #f9a359;
  font-size: 24px;
  line-height: 1em;
  border: 1px solid #f9a359;
  border-radius: 6px;
  padding: 6px 10px;
}
.section .action img {
  width: 32px;
  height: 38px;
}
.summary {
  background: #fff;
  padding: 0 30px 30px;
  margin-top: 20px;
}
