.container {
  background: #fff;
  padding-bottom: 30px;
  font-size: 30px;
}
.container .post-detail .content {
  padding: 30px 30px 0;
  overflow: hidden;
}
.container .post-detail .content .title {
  font-size: 48px;
  margin: 32px 0;
  font-weight: 500;
  line-height: 1.5;
}
.container .post-detail .content .user {
  display: flex;
  align-items: center;
}
.container .post-detail .content .user .name {
  font-weight: 700;
}
.container .post-detail .content .user .avatar,
.container .post-detail .content .user .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container .post-detail .content .user .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-left: 20px;
}
.container .post-detail .content .others {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #666;
}
.container .post-detail .content .others .time {
  margin-right: 12px;
}
