body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  background: #F4F6F9;
  min-height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
}
/** 下划线 **/
.border-top-1px,
.border-right-1px,
.border-bottom-1px,
.border-left-1px,
.border-around,
.border-top-bottom {
  position: relative;
  border: 0px solid transparent;
}
.border-top-1px:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.border-right-1px:after {
  content: ' ';
  display: inline-block;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 1px;
  width: 2px;
  height: 100%;
  border-left: 1px solid #e9e9e9;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.border-bottom-1px:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #e9e9e9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 bottom;
  transform-origin: 0 bottom;
}
.border-left-1px:after {
  content: ' ';
  display: inline-block;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 1px;
  width: 2px;
  height: 100%;
  border-right: 1px solid #e9e9e9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.card {
  background: #fff;
  margin-bottom: 20px;
}
.items .item {
  height: 90px;
  padding: 0 40px;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items .item:last-child {
  border-bottom: none;
}
.items .item .title {
  flex: 1;
  font-size: 32px;
  color: #333;
  display: flex;
  align-items: center;
}
.items .item img {
  width: 42px;
  height: 42px;
  margin-right: 40px;
}
.items .item .count {
  font-size: 24px;
  color: #abb4bf;
}
.items .item .count.reddot {
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 7px;
  background: #ff5959;
  color: #fff;
}
.rotate {
  -webkit-animation: rotate .8s linear infinite;
  animation: rotate .8s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#goodDet div,
#goodDet table,
#goodDet img {
  max-width: 100%;
}
